<p id="notice"><%= notice %></p>

<h1>Dimcustomers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dimcustomers.each do |dimcustomer| %>
      <tr>
        <td><%= link_to 'Show', dimcustomer %></td>
        <td><%= link_to 'Edit', edit_dimcustomer_path(dimcustomer) %></td>
        <td><%= link_to 'Destroy', dimcustomer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dimcustomer', new_dimcustomer_path %>
