
<div id="basicmap"></div>
<script type="text/javascript">
<%require 'faraday' %>    
<%require 'json' %>   
<%random_api = Array[ENV['WEATHER_API_1'], ENV['WEATHER_API_2'], ENV['WEATHER_API_3']]%>

    $(document).ready(function() {
    locations = []
    nbFloors = []
    clientNames = []
    nbBatteries= []
    nbColumns = []
    nbElevators = []
    techNames = []
    weatherStatuses = []
    weatherTemps = []
    weatherHumidities = []
    j = 0
    k = 0
    
    <% locations = Array.new %>
    //loop through all buildings, batteries, columns, elevators and addresses and push to corresponding array
    <% Building.all.each do |building| %>
        var nbFloorsPerColumn = 0, totalColumns = 0
        locations.push(<%= raw(building.address.to_json) %>);
        <% locations.append(building.address)%>
        clientNames.push(<%= raw(building.customer.company_name.to_json) %>)
        techNames.push(<%= raw(building.full_name_of_the_technical_contact_for_the_building.to_json)%>)
        nbBatteries.push(<%= building.batteries.count %>)
        <% building.batteries.all.each do |battery| %>
            nbColumns.push(<%= battery.columns.count * building.batteries.count %>)
            <% battery.columns.all.each do |column| %>
                nbFloors.push(<%= column.number_of_floors_served * battery.columns.count * building.batteries.count %>)
                nbElevators.push(<%= column.elevators.count *  battery.columns.count * building.batteries.count%>)
            <% end %>
        <% end %>
    <% end %>
    console.log(nbColumns.length)
    //create map that shows the whole of United States since all of our addresses are in the United States
    var map = new GMaps({
    div: '#basicmap',
    lat: 39.350978,
    lng: -101.913451,
    width: '1400px',
    height: '500px',
    zoom: 5,
    zoomControl: true,
    zoomControlOpt: {
        style: 'SMALL',
        position: 'TOP_LEFT'
    },
        panControl: false,
    });
    //for loop to run weather api. Random api member because free tier limits search per minute. Push to js arrays to put into infoWindow.

    
    //add markers + infoWindow for all our building locations. Add additional info such as number of columns to the info window. add weather info to the info window. 
    <% for i in 0..locations.length() - 1 %>
        
        console.log(<%= i %>)
        map.addMarker({
            lat: locations[<%= i%>].latitude,
            lng: locations[<%= i%>].longitude,
            title: locations[<%= i%>].status,
            
            infoWindow: {
                content: "<p>Location: " + locations[<%= i%>].number_and_street + "</p>" + "<p>Number of Floors: " + nbFloors[k] + "<p>Client Name: " + clientNames[<%= i%>] +"</p><p>Number of Batteries: " + nbBatteries[<%= i%>] + "</p><p>Number of Columns: " + nbColumns[j] + "</p><p>Number of Elevators: " +  nbElevators[k] + "</p><p>Full Name of Technical Contact: " + techNames[<%= i%>]
            }
        });
        k += nbColumns[j]
        j += nbBatteries[<%= i%>]
        console.log(k)
        console.log(j)

        

    <% end %>
    
    
    });
</script>
<script src=<%=ENV['MAPS_API']%>></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/hpneo/gmaps/master/gmaps.js"></script>