
<div id="basicmap" style="width: 1400px; height:700px;"></div>

<script type="text/javascript">
<%require 'faraday' %>  
<%require 'json' %>   
<% chosenAddress = 0 %>

<%random_api = Array[ENV['WEATHER_API_1'], ENV['WEATHER_API_2'], ENV['WEATHER_API_3']]%>

    $(document).ready(function() {
    locations = []
    nbFloors = []
    clientNames = []
    nbBatteries= []
    techNames = []
    weatherStatus = ""
    weatherTemp = ""
    weatherHumidity = ""
    nbColumn = 0
    nbFloor = 0
    nbElevator = 0
    idArray = []
    j = 0
    k = 0
    
    <% locations = Array.new %>
    //loop through all buildings, batteries, columns, elevators and addresses and push to corresponding array
    <% Building.all.each do |building| %>
        var nbFloorsPerColumn = 0
        locations.push(<%= raw(building.address.to_json) %>);
        <% locations.append(building.address)%>
        clientNames.push(<%= raw(building.customer.company_name.to_json) %>)
        techNames.push(<%= raw(building.full_name_of_the_technical_contact_for_the_building.to_json)%>)
        nbBatteries.push(<%= building.batteries.count %>)
        idArray.push(<%= raw(building.id.to_json.to_i) %>)
        
    <% end %>
    
    //create map that shows the whole of United States since all of our addresses are in the United States
    
    var map = new google.maps.Map(document.getElementById('basicmap'), {
        zoom: 5,
        center: new google.maps.LatLng(44.99, -98.5),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    //for loop to run weather api. Random api member because free tier limits search per minute. Push to js arrays to put into infoWindow.
    //add markers + infoWindow for all our building locations. Add additional info such as number of columns to the info window. add weather info to the info window. 
    for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i].latitude, locations[i].longitude),
        map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
            $.ajax({
                type: "GET",
                url: "/maps/" + idArray[i],
                dataType: "json",
                success: function(data){
                    console.log(data.nbColumns)
                    console.log(data.nbFloors)
                    nbColumn = data.nbColumns
                    nbElevator = data.nbElevators
                    nbFloor = data.nbFloors
                    weatherTemp = data.weatherTemp
                    weatherHumidity = data.weatherHumidity
                    weatherStatus = data.weatherStatus
                    infowindow.setContent("<p>Location: " + locations[i].number_and_street + "</p>" + "<p>Number of Floors: " + nbFloor + "<p>Client Name: " + clientNames[i] +"</p><p>Number of Batteries: " + nbBatteries[i] + "</p><p>Number of Columns: " + nbColumn + "</p><p>Number of Elevators: " +  nbElevator + "</p><p>Full Name of Technical Contact: " + techNames[i] + "</p><p>Temperature Condition: " + weatherStatus + "</p><p>Weather Temperature: " + weatherTemp + "°C" + "</p><p>Weather Humidity: " + weatherHumidity + "%")
            console.log("oiiiiii")
            infowindow.open(map, marker);
                }  
            });
            //Statistics of the building
            
        }
        })(marker, i));
    }
    
    
    });
</script>
<script src=<%=ENV['MAPS_API']%>></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/hpneo/gmaps/master/gmaps.js"></script>